body {
  background-color: #d1ecf1;
}

.hero {
  height: 300px;
  background-color: #198754;
  text-align: center;
}

.fondo-texto {
  background-color: #0d6efd;
}

.navbar {
  background-color: #198754;
}
.navbar .nav-link {
  color: white;
  font-weight: bold;
}
.navbar .nav-link:hover {
  text-decoration: underline;
}
.navbar .nav-link.active {
  text-decoration: underline;
}

.card {
  margin-bottom: 20px;
}
.card .card-title {
  color: #198754;
  font-size: 1.2em;
}
.card .card-text {
  color: #0d6efd;
}
.card .btn-success {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.card .btn-success:hover {
  background-color: #0257d5;
  border-color: #0257d5;
}

footer {
  background-color: #198754;
  padding: 10px 0;
  text-align: center;
  color: white;
}